# Google Cloud
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GEMINI_MODEL="gemini-2.5-flash"
BIG_QUERY_DATASET=
GOOGLE_CLOUD_SA_NAME=hackathon-vena
GOOGLE_CLOUD_SERVICE_ACCOUNT=

# NCBI / PubMed
NCBI_API_KEY=
NCBI_EMAIL=